<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" crossorigin="anonymous">
<div class="container text-center">

<h1>Generator hasła</h1>
;    <select name="length">
        <option value="6">6 znaków długości</option>
        <option value="7">7 znaków długości</option>
        <option value="8">8 znaków długości</option>
        <option value="9">9 znaków długości</option>
        <option value="10">10 znaków długości</option>
        <option value="11">11 znaków długości</option>
        <option value="12" selected="selected">12 znaków długości</option>
        <option value="13">13 znaków długości</option>
        <option value="14">14 znaków długościs</option>
    </select>
<br>
    <input type="checkbox" name="uppercase">Uppercase
<br>
    <input type="checkbox" name="numbers">Numbers
<br>
    <input type="checkbox" name="special">Special characters
<br>    
    <input type="submit" value="Generate Password" class="btn btn-primary">
</form>

{{password}}
<br>
<button onClick="goAbout()" class="btn btn-primary">About</button>
</div>
<script type="text/javascript">
    function goAbout() {
        window.location.replace("{% url 'about' %}");
    }  
</script>